.errorlist {
    color: #FF0000;
}

.helptext {
    display:block;
    font-size: 11px !important;
    color: #999;
}

.selector h2 {
    font-size: 10px;
    text-align: left;
    padding: 5px;
    line-height: 0px;
}

.selector .selector-filter label {
    width: 26px;
    padding: 2px;
}