.errorlist {
    color: #FF0000;
}

.helptext {
    display:block;
    font-size: 11px !important;
    color: #999;
}

.selector h2 {
    width: 258px;
    font-size: 10px;
    text-align: left;
    padding: 5px;
    line-height: 0px;
}

.selector-filter{
    width: 262px;
}

.selector select {
    margin-bottom: 10px;
    margin-top: 0;
}