{% extends "mingus/base_entries.html" %}

{% block title %}Search{% endblock title %}

{% block content %}
    <h2>Search</h2>
    <p>You searched for "{{ query }}"; the results are listed below.</p>
    <p>Found on title:</p>
    <ul>
    {% for entry in resultTitle %}
        <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
    {% endfor %}
    </ul>
    <p>Found on body:</p>
    <ul>
    {% for entry in resultBody %}
        <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}