<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <title>Blog: {% block title %}{% endblock title %}</title>
  <meta name="description" content="Personal Weblog">
  <link rel="stylesheet" href="{% static "css/weblog/weblog.css" %}" type="text/css" media="screen" />
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <h1>Blog</h1>
  </header>
  <nav>
    <ul>
      <li><a href="{% url mingus_entries_index %}">Entries</a></li>
      <li><a href="{% url mingus_tag_list %}">Tags</a></li>
      <li><a href="/2012/">Archive</a></li>
    </ul>
  </nav>
  <div id="content">
    <div id="mainContent">
      <section>
        <!-- Main content -->
        {% block content %}
        {% endblock content %}
      </section>
    </div>
  <aside>
    <!-- Sidebar -->
    <section>
      {% if user.is_authenticated %}
        <a href="/accounts/logout/">Logout</a>
        <a href="{% url admin:mingus_entry_add %}">New Entry</a>
        <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
      {% else %}
        <a href="/accounts/login/">Login</a>
        <p>Welcome, new user. Please log in.</p>
      {% endif %}
    </section>
    <section>
      <form method="get" action="/search/">
        <p><label for="id_q">Search:</label>
        <input type="text" name="q" id="id_q" value="{{ query }}" />
        <input type="submit" id="submitQ" value="Submit" /></p>
      </form>
    </section>
    {% block sidebar %}
    {% endblock sidebar %}
  </aside>
  </div>
  <footer>
    <!-- Footer -->
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
</body>
</html>