<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Blog: {% block title %}{% endblock title %}</title>
  <meta name="description" content="Personal Weblog">
  {{ media }}
  <link rel="stylesheet" href="/css/weblog/weblog.css" type="text/css" media="screen" />
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <h1>Blog</h1>
  </header>
  <nav>
    <ul>
      <li><a href="{% url mingus_entries_index %}">Entries</a></li>
      <li><a href="{% url mingus_tag_list %}">Tags</a></li>
    </ul>
  </nav>
  <div id="content">
    <div id="mainContent">
      <section>
        <!-- Main content -->
        {% block content %}
        {% endblock content %}
      </section>
    </div>
  <aside>
    <!-- Sidebar -->
    {% block sidebar %}
    {% endblock sidebar %}
  </aside>
  </div>
  <footer>
    <!-- Footer -->
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
</body>
</html>