{% extends "mingus/base.html" %}

{% block headscripts %}
{% load staticfiles %}
  <link type="text/css" href="{% static "css/overcast/jquery-ui-1.8.20.custom.css"%}" rel="Stylesheet" />
  <link type="text/css" href="{% static "css/weblog/new_entry.css"%}" rel="Stylesheet" />
  
  <script type="text/javascript" src="{% static "js/jquery-1.7.1.js"%}"></script>
  <script type="text/javascript" src="{% static "js/jquery-ui-1.8.20.custom.min.js"%}"></script>
  <script type="text/javascript" src="{% static "js/tiny_mce/tiny_mce.js" %}"></script>
  <script type="text/javascript" src="{% static "js/new_entry.js" %}"></script>
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
  <script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" />
{% endblock headscripts %}

{% block title %} | Create Entry{% endblock title %}

{% block content %}
    <h2>Create Entry</h2>
    <p>Use the form below to create a blog entry.</p>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Save" /></p>
    </form>
{% endblock %}