{% extends "mingus/base_entries.html" %}

{% block title %}{{ block.super }} | {{ object.title }}{% endblock title %}

{% block content %}
<article class="blogPost">
    <header>
    <h2>{{ object.title }}</h2>
    <p>Published on {{ object.pub_date|date:"F j, Y" }} by {{ object.author }} - <a href="#comments"> {% load comments %} {% get_comment_count for object as comment_count %} {{ comment_count }} comment{{ comment_count|pluralize }}.</a></p>
    </header>
    {{ object.body_html|safe }}
</article>

{% if object.enable_comments %}
    <section id="comments">
    <h3>Comments</h3>
    {% load comments %}
    {% load markup %}
    {% get_comment_list for object as comment_list %}
    {% for comment in comment_list %}
        <article>
            <header>
                <a href="#">{{ comment.name }}</a> on {{ comment.submit_date|date:"F j, Y" }}
            </header>
            <p>{{ comment.comment|markdown:"safe" }}</p>
        </article>
    {% endfor %}
    <h3>Post a comment</h3>
    {% render_comment_form for object %}
    {% csrf_token %}
    </section>
{% else %}
    <section id="comments">
    <h3>Comments have been disabled for this entry</h3>
    </section>
{% endif %}
{% endblock content %}

{% block sidebar %}
    <section>
    <header>
        <h3>Tags</h3>
    </header>
    {% if object.tags.count %}
        <p>This entry is is tagged with </p>
            {% for tag in object.tags.all %}
                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                {% if forloop.last %}{% else %}
                    {% ifequal forloop.revcounter0 1 %}and {% else %}, {% endifequal %}
                {% endif %}
            {% endfor %}
    {% else %}
        <p>This entry doesn't have any tags.</p>
    {% endif %}
    </section>
{% endblock sidebar %}